*{
    margin: 0;
}
body{
  
  padding-top: 70px;
  padding-left: 70px;
  margin-right:20px;
}
p{
    font-family:  "Roboto", Arial;
    margin-top: 0;
    margin-bottom: 0;
}

.roboto-regular {
    font-family: "Roboto", sans-serif;
    font-weight: 400;
    font-style: normal;
    
  }
  
  .roboto-bold {
    font-family: "Roboto", sans-serif;
    font-weight: 700;
    font-style: normal;
  }

    